html{
    height: 100%;
}
body{
    height: 100%;
    color: var(--white);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#310dff+0,9107fa+100 */
    background: #310dff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #310dff 0%, #9107fa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #310dff 0%,#9107fa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #310dff 0%,#9107fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#310dff', endColorstr='#9107fa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
}

/* ---------------------------- */
/* Header */
/* --------ˇˇˇˇˇˇˇˇˇˇˇˇ-------- */
h2{
    text-align: center;
    text-transform: uppercase;
}
header{
    text-align: center;
    padding: 3rem 0;
}
header .logo{
    width: 15rem;
}
header p{
    font-size: 5.2rem;
    text-transform: uppercase;
    margin: 0;
    line-height: .8;
    color: var(--complementary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ------ Contenedor ----- */
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}

/* ------ Contenido Principal ----- */
.hero{
    margin-bottom: 4rem;
}
.lista-productos{
    margin-top: 2rem;
    padding: 0;
    list-style: none;
}
.lista-productos li{
    float: left;
    width: 50%;
    padding: 2rem;
    text-align: center;
}
.lista-productos li:nth-child(2n+1){
    clear: both;
}
@media (min-width: 768px){
    .lista-productos li{
        width: 33.3%;
    }
    .lista-productos li:nth-child(2n+1){
        clear: unset;
    }
    .lista-productos li:nth-child(3n+1){
        clear: both;
    }
}
.lista-productos li img{
    border: 1rem solid var(--complementary);
    transition: border-color .3s ease-in-out; 
}
.lista-productos li img:hover{
    border: 1rem solid var(--relacionar-active);
}
.lista-productos li p{
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 1;
}
span.precio{
    color: #fac107;
    font-size: 3rem;
}
.boton{
    background-color: var(--green);
    padding: 1rem 4rem;
    margin-top: 1rem;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 900;
    transition: background-color .3s ease-in-out;
}
.boton:hover{
    background-color: var(--green-active);
    text-decoration: none;
}